workflows/Expense_Categorizer-Receipt_OCR_logger17 _18.json
{
  "name": "Expense_Categorizer-Receipt_OCR_logger17 _18",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        304,
        224
      ],
      "id": "d02c34a1-ef73-4fc9-baad-d61a15566f4f",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Receipt_OCR_Logger",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook_from_receipt_logger').item.json.body.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "b3069b9e-d52f-4b28-8285-be7b0e6388ad",
      "name": "Update a row"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI Expense Categorizer for business receipts.\n\nYour job:\nAssign ONE expense category from the approved list below, based ONLY on the provided receipt text or description.\n\nApproved Categories:\n- Airfare\n- Lodging (Hotels)\n- Travel Meals\n- Transportation (Taxi/Uber/Lyft)\n- Car Rental\n- Fuel/Gas\n- Office Supplies\n- Office Equipment\n- Shipping & Postage\n- Software / SaaS\n- Hardware & Electronics\n- Marketing & Advertising\n- Events & Conferences\n- Meals & Entertainment (non-travel)\n- Training & Education\n- Professional Services (Legal/Accounting/etc.)\n- Contractor / Consultant\n- Telecom (Phone/Internet)\n- Insurance\n- Miscellaneous\n\nRules:\n1. Choose exactly ONE category.\n2. Use the text to infer the correct expense type.\n3. If unclear, choose **Miscellaneous**.\n4. Return **JSON only**, no explanations, no markdown.\n\nReceipt Text:\n{{ $json.body.raw_text }}\n\nReturn JSON in this EXACT format:\n{\n  \"category\": \"<one of the approved categories>\"\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "e8f0d481-37c3-4a8e-b959-b4ce7b5a6c69",
      "name": "AI Categorizer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cbaac4e8-179d-4bbb-a655-264010c1668e",
              "name": "output",
              "value": "={{ JSON.parse($json.output).category }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        0
      ],
      "id": "63c25c76-ff6d-46c9-be15-f368ba90a343",
      "name": "Clean AI output"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receipt/categorize",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "3c17eabb-4d20-4e60-a68d-5ca212ab6501",
      "name": "Webhook_from_receipt_logger",
      "webhookId": "7109896d-e3a4-4c78-a71c-a9fd7dcff74a"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A193M6PGT",
          "mode": "list",
          "cachedResultName": "expense-logging-categorizer"
        },
        "text": "=Here is a new expense:\n\nvendor : {{ $json.vendor }}\ndate : {{ $json.date }}\namount : {{ $json.amount }}\ncategory : {{ $json.category }}\nnotes : {{ $json.notes }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1008,
        0
      ],
      "id": "c6f7ec01-c311-4777-8baa-98bbfa4b513b",
      "name": "Send a message",
      "webhookId": "28e1bd28-a17f-4362-894f-f551dfca22b3",
      "notesInFlow": false
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Categorizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Categorizer": {
      "main": [
        [
          {
            "node": "Clean AI output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean AI output": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_from_receipt_logger": {
      "main": [
        [
          {
            "node": "AI Categorizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "pinData": {
    "Webhook_from_receipt_logger": [
      {
        "json": {
          "headers": {
            "host": "connorcareyai.app.n8n.cloud",
            "user-agent": "axios/1.12.0",
            "content-length": "867",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "98.67.233.200",
            "cf-ew-via": "15",
            "cf-ipcountry": "DE",
            "cf-ray": "9a882612b44e1fad-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "98.67.233.200, 172.70.248.52",
            "x-forwarded-host": "connorcareyai.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-14-5654dfbc89-sq89q",
            "x-is-trusted": "yes",
            "x-real-ip": "98.67.233.200"
          },
          "params": {},
          "query": {},
          "body": {
            "vendor": "Arizona Secretary of State",
            "created_at": "2025-12-03T20:17:00+00:00",
            "amount": 10,
            "date": "2025-12-02",
            "category": "Trade Name Application",
            "notes": "Arizona Secretary of State: Business Services Division would like to thank you for registering your Trade Name:\n\nSimplifi AI",
            "raw_text": "RECEIPT\nDate: 12/02/2025\nOrder ID: 136428110\nAuthorization #: 6905214\nBilling Information\nConnor Carey\n2042 East Malibu Drive\nTempe AZ 85282\nPhone #: 970-520-2420\nEmail: carey.connor15@gmail.com\nAccount Information\nPayment Method: VISA\nXXXXXXXXXXXXXX3922 02/2029\nProduct ID Item Description Amount Quantity Gross\nSTA00256 Trade Name Application $10.00 1 $10.00  TOTAL $10.00\nNotes:\nArizona Secretary of State: Business Services Division would like to thank you for registering your Trade Name:\n\nSimplifi AI",
            "id": "2b7e4795-5f9e-4602-ac20-09cc0b746da6"
          },
          "webhookUrl": "https://connorcareyai.app.n8n.cloud/webhook/receipt/categorize",
          "executionMode": "production"
        }
      }
    ]
  }
}