workflows/public/Appt_Reminder_13.json
{
  "name": "Appt_Reminder_13",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e9f80847-8e51-412d-aadd-86f1579ecc5b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LkbXmxLLAOFr-7o7Epa0gU4JsokOpXjoLBRzReah2js",
          "mode": "list",
          "cachedResultName": "AI-Practice n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LkbXmxLLAOFr-7o7Epa0gU4JsokOpXjoLBRzReah2js/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1930484492,
          "mode": "list",
          "cachedResultName": "Appt_reminder",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LkbXmxLLAOFr-7o7Epa0gU4JsokOpXjoLBRzReah2js/edit#gid=1930484492"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "73623f9c-2d32-437e-8bf2-e628e617d29d",
      "name": "Get row(s) in sheet"
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"Email\"] }}",
        "subject": "Appointment Reminder",
        "message": "=Hi {{$json[\"Name\"]}}, this is a reminder for your appointment tomorrow at {{$json[\"Time\"]}}. See you soon! – CC AI",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "08bc738b-57f7-498a-a715-ad01c0573677",
      "name": "Send a message",
      "webhookId": "88960f94-b952-42a1-8e34-4c99e8fd0a7d"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "pinData": {}
}