workflows/public/Contract_expiration_Alert_4.json
{
  "name": "Contract_expiration_Alert_4",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a34f7138-e2f2-4013-bf9f-ded53b291a47",
      "name": "‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LkbXmxLLAOFr-7o7Epa0gU4JsokOpXjoLBRzReah2js",
          "mode": "list",
          "cachedResultName": "AI-Practice n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LkbXmxLLAOFr-7o7Epa0gU4JsokOpXjoLBRzReah2js/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2101058130,
          "mode": "list",
          "cachedResultName": "Contract_Expiration_Alert",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LkbXmxLLAOFr-7o7Epa0gU4JsokOpXjoLBRzReah2js/edit#gid=2101058130"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "e8129c22-a9b5-4826-a837-79f6c09dd6bb",
      "name": "Read Rows"
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"Email\"] }}",
        "subject": "=Contract Ending Soon: {{ $json[\"Client\"] }}",
        "message": "={{ \n`<p>Hi ${$json[\"Client\"]},</p>\n<p>Your contract ends <strong>${$json[\"EndDate\"]}</strong>.\n<br>\nPlease inform us of your plans to stay with us or not.</p>\n<p>Thank you,</p>\n<p>- CC AI</p>`\n}}\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        672,
        0
      ],
      "id": "c67bae52-dc6b-47a3-a5f3-a6cbf335ac6d",
      "name": "Send Alert Email",
      "webhookId": "7f707e7c-7c8f-4968-9dd8-62e8611d3c6c"
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\nconst soon  = new Date(today);\nsoon.setDate(today.getDate() + 7);\n\nreturn $input.all().filter(\n  i => new Date(i.json.EndDate) <= soon\n);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "3adb5a3c-89ab-42dc-966f-094e02d19162",
      "name": "Check date code"
    }
  ],
  "connections": {
    "‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Rows": {
      "main": [
        [
          {
            "node": "Check date code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check date code": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "pinData": {}
}