workflows/public/Expense_reimbursement_tracker16.json
{
  "name": "Expense_reimbursement_tracker16",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reimbursement/new",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "4ffcece1-a9fe-45b1-94ff-0d38034dc2ef",
      "name": "Tally Webhook",
      "webhookId": "9e2d1da2-2ca0-4a6e-9c05-7f34e4c8ded0"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const r = item.json;\n  if (!r.employee_email || !r.amount) {\n    throw new Error(\"Missing fields\");\n  }\n  results.push(r);\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "94699a14-dcaa-4e95-a759-fe1a5114d28c",
      "name": "Validation code"
    },
    {
      "parameters": {
        "tableId": "reimbursements",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        432,
        0
      ],
      "id": "16aac9d9-9a84-4b37-b680-c8c5f6267653",
      "name": "Create a row"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A09UUTETD",
          "mode": "list",
          "cachedResultName": "reimbursement"
        },
        "text": "=New reimbursement submitted by {{employee_name}}. Amount: ${{amount}}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        640,
        0
      ],
      "id": "6a6942fb-ad8b-4acd-a779-8ab123d4f555",
      "name": "Send a message",
      "webhookId": "fb315469-36c3-4ae8-8e30-7ee8fbcb3910"
    },
    {
      "parameters": {
        "subject": "Reimbursement Received",
        "message": "Your request has been received and is currently pending review.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        848,
        0
      ],
      "id": "5f731388-6bf5-47b7-989c-ff72ad7afb28",
      "name": "Send a message1",
      "webhookId": "d3ba5f31-e40e-42c3-8e3a-008bfc23970f",
      "disabled": true
    }
  ],
  "connections": {
    "Tally Webhook": {
      "main": [
        [
          {
            "node": "Validation code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation code": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "pinData": {
    "Tally Webhook": [
      {
        "json": {
          "headers": {
            "host": "connorcareyai.app.n8n.cloud",
            "user-agent": "Tally Webhooks",
            "content-length": "664",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "baggage": "sentry-environment=production,sentry-release=cdfa11bf93e76775120edc3b776d31785f3c04ef,sentry-public_key=6af4b6673f1648edaa8fef3f2ca43405,sentry-trace_id=214414644efc7b15006674df693fa24f,sentry-org_id=407628,sentry-sampled=false,sentry-sample_rand=0.7632976371071112,sentry-sample_rate=0.0025",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.96.62.63",
            "cf-ew-via": "15",
            "cf-ipcountry": "BE",
            "cf-ray": "9a5e4abcd561bedc-LHR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sentry-trace": "214414644efc7b15006674df693fa24f-cba96f9754c77968-0",
            "x-forwarded-for": "34.96.62.63, 172.70.86.239",
            "x-forwarded-host": "connorcareyai.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-14-5654dfbc89-9dcx2",
            "x-is-trusted": "yes",
            "x-real-ip": "34.96.62.63"
          },
          "params": {},
          "query": {},
          "body": {
            "eventId": "c0a30f32-5906-4f88-95dd-394aa4e32fa9",
            "eventType": "FORM_RESPONSE",
            "createdAt": "2025-11-29T01:21:04.591Z",
            "data": {
              "responseId": "dW4Z55d",
              "submissionId": "dW4Z55d",
              "respondentId": "OOYDLp",
              "formId": "QKoJYY",
              "formName": "Expense Reimbursement Request",
              "createdAt": "2025-11-29T01:21:04.000Z",
              "fields": [
                {
                  "key": "question_zYprgk",
                  "label": "Employee Name",
                  "type": "INPUT_TEXT",
                  "value": "Connor"
                },
                {
                  "key": "question_5x6GrN",
                  "label": "Email",
                  "type": "INPUT_EMAIL",
                  "value": "YOUR_EMAIL@proton.me"
                },
                {
                  "key": "question_ddLDgr",
                  "label": "Amount",
                  "type": "INPUT_NUMBER",
                  "value": 75
                },
                {
                  "key": "question_YaEMeN",
                  "label": "Description/Reason",
                  "type": "TEXTAREA",
                  "value": "Pizza party"
                }
              ]
            }
          },
          "webhookUrl": "https://connorcareyai.app.n8n.cloud/webhook/reimbursement/new",
          "executionMode": "production"
        }
      }
    ]
  }
}